body {
  background-color: dimgray;
}

h1 {
  color: whitesmoke;
  margin-left: 20px;
  font-family: "Palatino", URW Palladio L, serif;
}

p {
  color: ivory;
  margin-left: 16px;
  font-family: Trebuchet MS, sans-serif;
}
